@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-tumb:hover {
  background-color: rgba(153, 212, 4, 0.6);
}

@keyframes fade-in {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes text-ani {
  from{
    opacity: 0;
    transform: translateX(-20px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in{
  animation: fade-in 1s ease-out forwards;
}

.text-ani{
  animation: text-ani 1s ease-out forwards;
}